.itemCenter {
    align-items: center;
    display: flex;
    font-weight: bold;
}

.subCateListItem {
    color: red;
}

.progressBarDone {
    border: white;
    width: 100%;
    height: 40px;
}

.progressBarUndone {
    border: white;
    width: 100%;
    background-color: lightgray;
    text-align: center;
    justify-content: center;
    height: 100%;
    opacity: 0;
}
